---
- name: make sure needed software is installed
  yum: name=yum-utils
- name: remove old kernel packages for RPM based systems
  shell:  package-cleanup -y --oldkernels --count='{{ ospatch_keep_kernel_nr }}'
  args:
    warn: false
...
